[Desktop Entry]
Encoding=UTF-8
Name=Tubes2 Trial
Name[hu]=Tubes2 Trial
Exec=tubes
Icon=tubes.xpm
Comment=Electrontube catalogue
Comment[hu]=Elektroncső katalógus
Type=Application
Categories=Application;Electronics;
Terminal=false
StartupNotify=true
