[Desktop Entry]
Encoding=UTF-8
Name=Tubes2 Open edition
Exec=tubes2oe
Icon=tubes2oe
Comment=Electron tube catalog
Comment[hu]=Elektroncső katalógus
Type=Application
Categories=Application;Electronics;
Terminal=false
StartupNotify=true

